---
import Menu from "./Menu.astro"
import Navigation from "./Navigation.astro"
---

<style>
    nav{
        display: flex;
        padding: 10px;
        justify-content: right;
        background-color: rgb(231, 231, 231);
    }
</style>

<nav>
    <Menu/>
    <Navigation/>
</nav>